/*===========
	Fonts
============*/

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.otf');
 }

@font-face {
  font-family: 'Nexa Light';
  src: url('../fonts/Nexa Light.otf');
 }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.otf');
 }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.ttf');
 }

.sm-padding  {
	padding: 0px 3px; 
}

button:active {
	outline: none;
}
button:focus {
	outline: none;
}
 /*Modal content*/
.modal-dialog {
	width: 76%;
}

.modal-body {
	padding: 0px;
}

 .brand_grid {
 	background-image: url('../landing-img/bg_pop.png'); 
 	height: 100%;
 	background-repeat: no-repeat;
 	background-size: cover;
 }
.brand_grid h1 {
	color: white;
	font-family: 'Montserrat-Bold';
	font-size: 50px;
	padding-left: 60px;
	margin-bottom: 65px;
}
 .brand_grid img {
 	width: 180px;
 	margin: 20px 30px 10px 60px; 
 }


.inputs_grid {
	padding: 40px 10px 20px 40px;
}
.inputs_grid h4 {
	font-size: 27px;
	font-family: 'Montserrat-Bold';
}
.inputs_grid span {
	color: red;
}
.inputs_grid p {
	color: #d0d2d3;
	font-size: 14px;
	font-family: 'Montserrat-Regular';
}
.inputs_grid input {
	padding: 8px 5px; 
	border: solid 1px #d0d2d3;
	border-radius: 5px;
	width: 100%;
}
.inputs_grid textarea {
	width: 100%;
	border: solid 1px #d0d2d3;
	border-radius: 5px;
	padding: 5px;
}

.inputs_grid textarea { resize:vertical ; }
.chose_service {
	width: 100%;
	padding: 9px 5px !important; 
	-webkit-padding-start:9px 5px;
	border: solid 1px #d0d2d3;
	border-radius: 5px;
	background-color: red;
	color: white;
}
.select-grid {
	padding-right: 0px ;
}
.chose_service .option-s {
	background-color: white;
	color: black;
}
.chose_service:active {
	outline: none;
}
.chose_service:focus {
	outline: none;
}
.textarea-s {
	margin-top: -7px:
	margin-left:-4px; 
}

.modal_button {
	padding-top: 30px;
}
/*.inputs_grid button {
	background-color: #58D68D;
	color: white;
	font-size: 15px;
	font-family: 'Montserrat-Regular';
	width: 150px;
	height: 40px;
	border-radius: 5px;
	border: none;
}*/

.submit_btn {
	background-color: #58D68D;
	color: white;
	font-size: 15px;
	font-family: 'Montserrat-Regular';
	width: 150px !important;
	height: 40px;
	border-radius: 5px;
	border: none;
}

/*Only in desktop*/
@media only screen and (min-width: 844px) {
    .desktop-d-n {
      display: none;
    }

}

/*Only on Mobile*/
@media only screen and (max-width: 844px) {
  .mobile-d-n {
    display: none;
  }
  .modal-dialog {
	width: 90%;
	margin: 0 auto;
	}
  .modal-body {
  	text-align: center;
  }
}